

    body {
      background: #f7feff;
    }

    .all_wrap {
          height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    }


    .container {
        padding-top: 50px;
        padding-bottom: 100px;
        text-align: center;
    }
    .top_txt {
        font-size: 20px;
    }
    .start {
      text-align: center;
        }
    .start img {
        width: 300px;
    }
    .show {
        display: none;
    }
    button {
        width: 280px;
        margin-bottom: 80px;
        padding: 20px;
        border: none;
        border-radius: 60px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        background: #5ac2ce;
    }
    button:active {
        transform: translateY(10px);
        transition: 0.6s;
    }
    .fortune {
        max-width: 500px;
    }
    .btn {
      text-align: center;
    }
#reset {
  display: none; /* 最初は非表示 */
}